---
title: Le Wagon - Middleman
---

<div class="home">

  <h3>CHARLEY <strong>BEIGBEDER</strong></h3>

  <div class="loader">
    <span></span>
  </div>

  <h4>WEB<strong>DEVELOPER</strong></h4>

<div class="souligne">
  <!-- <a href="/about.html"> < PLUS D'<strong>INFOS > </strong></a> -->
  <a href="mailto:charley.beigbeder@esc-pau.net"> < PLUS D'<strong>INFOS > </strong></a>
</div>


    <ul class="icons">
      <a href="mailto:charley.beigbeder@esc-pau.net"><li><i class="fa fa-envelope"></i></li></a>
      <a href="https://www.linkedin.com/in/charley-beigbeder" target="blank"><li><i class="fa fa-linkedin"></i></li></a>
    </ul>

</div>
